.banner-prod {
  position: relative;
  background-image: url(../images/badge-produtos.svg);
  height: 90vh;
  background-attachment: fixed;
  animation: fadeIn 3s ease-in;
}

.conteudo-pag {
  background-color: var(--grey-dark);
  padding: 20px 100px;
}

/*nav*/
.menu-list {
  position: fixed;
  width: 100%;
  transition: 800ms all;
  background-color: var(--grey-transparent-ligth);
  padding: 2px 20px;
  color: var(--grey-ligth);
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-list ul,
li {
  display: inline-block;
}

.menu-list li {
  width: max-content;
  text-align: center;
  padding-inline-start: 18px;
  padding-inline-end: 18px;
  padding: 15px;
}

nav a {
  letter-spacing: 1px;
}

.size {
  width: 270px;
}

li {
  padding-inline-end: 20px;
}

nav .button {
  height: 50px;
  width: 280px;
  background-color: var(--wine);
  color: var(--white);
  border-radius: 4px;
  transition: all 800ms;
  text-transform: uppercase;
}

nav .button:hover {
  filter: brightness(1.5);
  cursor: pointer;
}



@media (max-width: 600px) {
  nav .button {
    height: 25px;
    width: 280px;
    background-color: var(--wine);
    color: var(--white);
    border-radius: 4px;
    transition: all 800ms;
    text-transform: uppercase;
}
  .banner-prod {
    position: relative;
    background-image: url(../images/badge-produtos.svg);
    height: 60vh;
    background-position: 50% 90%;
    background-attachment: fixed;
    animation: fadeIn 3s ease-in;
  }

  div .card-pag-prod {
    width: 8rem;
    margin-right: 0;
    background-color: var(--grey-label);
    color: white;
    border-radius: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    transition: all 800ms;
    box-shadow: 0 0 1em black;
  }

  .conteudo-pag {
    background-color: var(--grey-dark);
    padding: 20px 20px;
  }
}